<template>
  <nuxt-link v-if="show" class="mx-3 menu-link" :to="to" :exact="exact"
    ><slot></slot
  ></nuxt-link>
</template>

<script>
export default {
  name: 'NavItem',
  props: {
    to: { type: String, default: '' },
    hide_at: { type: Number, default: null },
    exact: { type: Boolean, default: false }
  },

  data() {
    return {}
  },
  computed: {
    show() {
      return true
    }
  }
}
</script>

<style lang="css" scoped>
.menu-link {
  color: #444;
  font-size: 1;
  letter-spacing: 1px;
  transition: all 0.2s;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  user-select: none;
}

.menu-link:hover {
  color: #3b7559;
  text-decoration: none;
}
</style>
