<template>
  <div id="icon" :class="open ? 'open' : null" @click="$emit('push')">
    <span class="top-part"></span>
    <span class="bottom-part"></span>
  </div>
</template>

<script>
export default {
  props: {
    open: { type: Boolean, default: false }
  }
}
</script>

<style lang="css">
#icon {
  position: relative;
  cursor: pointer;
  width: 23px;
  height: 23px;
  transition: all 0.25s;
  z-index: 1000;
}

.top-part,
.bottom-part {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 23px;
  height: 1px;
  transform: rotate(0);
  transition: all 0.25s;
  background-color: #222;
}
.top-part {
  top: 11px;
  transform: translateY(-5px);
}

.bottom-part {
  bottom: 11px;
  transform: translateY(4px);
}
.open .top-part {
  transform: rotate(45deg);
}

.open .bottom-part {
  transform: rotate(-45deg);
}
</style>
