<template>
  <div class="">
    <div
      class="menu d-flex justify-content-between flex-wrap align-items-center pr-2"
    >
      <div class="logo text-center ">
        <nuxt-link to="/">
          <img
            class="pl-3 py-2"
            src="/rinkis-birzus.png"
            alt=""
            style="max-height: 100px; "
          />
        </nuxt-link>
      </div>
      <div class="d-none d-md-flex align-items-center justify-content-center">
        <nav-item :to="'/'" exact :hide_at="500">Biržai</nav-item>
        <nuxt-link class="mx-3 menu-link" to="/apie">Apie projektą</nuxt-link>

        <nuxt-link class="mx-3 menu-link" to="/naudinga-informacija"
          >Naudinga informacija</nuxt-link
        >
        <nuxt-link class="mx-3 menu-link" to="/video">Video</nuxt-link>

        <nuxt-link class="mx-3 menu-link" to="/kontaktai">Kontaktai</nuxt-link>
      </div>
      <navigation
        :open="open"
        class="d-md-none m-3"
        @push="toggle()"
      ></navigation>
    </div>
    <div
      v-if="open"
      class="mobile-navigation d-flex d-md-none flex-column justify-content-center align-items-center"
    >
      <nuxt-link class="menu-link py-2" to="/" exact @click.native="toggle()"
        >Biržai</nuxt-link
      >
      <nuxt-link class="menu-link py-2" to="/apie" @click.native="toggle()"
        >Apie projektą</nuxt-link
      >
      <nuxt-link
        class="menu-link py-2"
        to="/naudinga-informacija"
        @click.native="toggle()"
        >Naudinga informacija</nuxt-link
      >
      <nuxt-link class="menu-link py-2" to="/video" @click.native="toggle()"
        >Video</nuxt-link
      >
      <nuxt-link class="menu-link py-2" to="/kontaktai" @click.native="toggle()"
        >Kontaktai</nuxt-link
      >
    </div>
    <nuxt v-if="!open" class="mb-5" />
  </div>
</template>

<script>
import Navigation from '@/components/navigation'
import NavItem from '@/components/nav-item'

export default {
  components: { Navigation, NavItem },

  data() {
    return {
      open: false
    }
  },
  methods: {
    toggle() {
      this.open = !this.open
    }
  }
}
</script>

<style>
.footer {
  position: absolute;
  bottom: 0;
}
.mobile-navigation {
  z-index: 100;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.btn {
  border-radius: 50px;
}

.btn-primary {
  background-color: #3b7559;
  border-color: #3b7559;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus {
  background-color: #206242;
  border-color: #fff;
  box-shadow: 0px 3px 0px 0px #ddd;
}
.btn-primary:hover {
  background-color: #206242;
  border-color: #206242;
  box-shadow: 0px 3px 0px 0px #ddd;
}
.menu-link {
  color: #444;
  font-size: 1;
  letter-spacing: 1px;
  transition: all 0.2s;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  user-select: none;
}

.menu-link:hover {
  color: #3b7559;
  text-decoration: none;
}

.nuxt-link-active {
  color: #3b7559;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

body,
p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

a {
  color: #206242;
}

a:hover {
  color: #206242;
}

.link-no-color {
  color: #212529;
}

.link-no-color:hover {
  color: #212529;
}
</style>
