<template>
  <div>
    <div v-if="!success" class="container">
      <div class="row pt-5">
        <div class="col col-md-6 offset-md-3 text-center">
          <h2 class="pb-3">
            Anketa galvojantiems apie gyvenimą Biržuose
          </h2>
        </div>
      </div>
      <div class="row py-5">
        <div class="col col-md-6 offset-md-3 text-center">
          <h4 class="pb-3">
            Jei šiuo metu gyveni ne Biržuose, bet apie tai galvoji, užpildyk šią
            registracijos formą - galbūt galėsime kažkuo padėti ir palengvinti
            sprendimą :)
          </h4>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-md-6 offset-md-3">
            <div class="form-group pb-2">
              <label for="">Vardas</label>
              <input
                v-model="form.name"
                class="form-control"
                type="text"
                name="first_name"
                value=""
                placeholder=""
              />
            </div>
            <div class="form-group pb-2">
              <label for="">Pavardė</label>
              <input
                v-model="form.last_name"
                class="form-control"
                type="text"
                name="last_name"
                value=""
                placeholder=""
              />
            </div>
            <div class="form-group pb-2">
              <label for="">El. paštas*</label>
              <input
                v-model="form.email"
                class="form-control"
                type="email"
                name="email"
                value=""
                required
                placeholder=""
              />
            </div>
            <div class="form-group pb-2">
              <label for="">Telefonas*</label>
              <input
                v-model="form.phone"
                class="form-control"
                type="number"
                name="phone"
                value=""
                required
                placeholder=""
              />
            </div>
            <div class="form-group pb-2">
              <label for="">Amžius</label>
              <input
                v-model="form.age"
                class="form-control"
                type="text"
                name="age"
                value=""
                placeholder=""
              />
            </div>
            <div class="form-group pb-2">
              <label for="">Trumpai apibūdink savo situaciją</label>
              <textarea
                v-model="form.situation"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group pb-2">
              <label for=""
                >Kokios turi darbinės patirties arba kuo norėtum
                užsiimti?</label
              >
              <textarea v-model="form.work" class="form-control"></textarea>
            </div>
            <div class="form-group pb-2">
              <label for="">Kas paskatintų pasirinkti Biržus?</label>
              <textarea v-model="form.reason" class="form-control"></textarea>
            </div>
            <div class="row">
              <div class="col pb-4 pt-1 text-center">
                <small
                  >Užpildydami registraciją sutinkate, kad išsaugotume jūsų
                  duomenis bei su jumis susisiektume.</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!success" class="container">
        <div class="row">
          <div class="col col-md-4 offset-md-4 text-center pb-5">
            <p v-if="errors" class="text-danger py-1">
              <small>Būtina įvesti el. paštą arba telefono nr.</small>
            </p>
            <button
              :class="{ disabled: loading }"
              class="btn btn-primary"
              @click="register()"
            >
              registruotis
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="success" class="container">
      <div class="row">
        <div class="col p-2 mb-2 text-center">
          <h4 class="py-3">
            Registracija sėkminga. Neprižadame stebuklų, bet kuo galėsime -
            padėsime :)
          </h4>
          <img
            class="img-fluid"
            src="/fields.jpg"
            alt=""
            style="max-width: 100%;"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Registracija',

  data() {
    return {
      form: {
        name: null,
        last_name: null,
        email: null,
        phone: null,
        age: null,
        situation: null,
        work: null,
        reason: null
      },

      errors: null,
      loading: false,
      success: false
    }
  },

  computed: {
    html() {
      let html = ''

      if (this.form.name) {
        html += '<p>Vardas: <strong>' + this.form.name + '</strong></p>'
      }

      if (this.form.last_name) {
        html += '<p>Pavardė: <strong>' + this.form.last_name + '</strong></p>'
      }
      if (this.form.email) {
        html +=
          '<p>El. paštas: <strong><a href="mailto:' +
          this.form.email +
          '">' +
          this.form.email +
          '<a/></strong></p>'
      }
      if (this.form.phone) {
        html +=
          '<p>Telefonas: <strong><a href="tel:' +
          this.form.phone +
          '">' +
          this.form.phone +
          '<a/></strong></p>'
      }
      if (this.form.age) {
        html += '<p>Amžius: <strong>' + this.form.age + '</strong></p>'
      }
      if (this.form.situation) {
        html += '<p>Situacija: <strong>' + this.form.situation + '</strong></p>'
      }
      if (this.form.work) {
        html += '<p>Darbas: <strong>' + this.form.work + '</strong></p>'
      }
      if (this.form.reason) {
        html +=
          '<p>Kas paskatintų: <strong>' + this.form.reason + '</strong></p>'
      }

      return html
    },

    email() {
      const email = {
        to: 'vytauteandsandra@gmail.com',
        cc: 'tadasb@gmail.com',
        message: { subject: 'Nauja registracija', html: this.html }
      }

      return email
    }
  },

  methods: {
    register() {
      if (this.form.phone || this.form.email) {
        this.errors = false
        this.saveRegistration()
      } else this.errors = true
    },
    saveRegistration() {
      this.loading = true
      // this.$fireStore
      //   .collection('mail')
      //   .add(this.email)
      //   .then(() => {
      //     this.loading = false
      //     this.success = true
      //   })
      this.$fireStore
        .collection('forms')
        .add(this.form)
        .then(() => {
          this.loading = false
          this.success = true
        })
    }
  },

  head() {
    return {
      title: 'Rinkis Biržus | Anketa',
      meta: [
        {
          property: 'og:image',
          content: '/images/og-kontaktai.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.select {
  border: 1px solid #ddd;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.select-active {
  background-color: #14a2ba;
  border-color: #14a2ba;
  color: #fff;
}

.select:hover {
  border-color: #14a2ba;
}

label {
  font-weight: 600;
}
</style>
