<template>
  <div>
    <div class="container-fluid mx-0 px-0">
      <img class="img-fluid" src="/birzai1.jpg" alt="" />
    </div>
    <div class="container">
      <div class="row pb-3">
        <div class="col pt-5 mx-auto" style="max-width: 700px;">
          <p>
            Grįžę į Biržus žmonės dažnai susiduria su integravimo sunkumais,
            informacijos apie įvairias paslaugas ir užimtumo galimybes trūkumu.
          </p>
          <p>
            Siekiant gerinti reemigrantų ir kitų asmenų informavimą ir
            konsultavimą, 2019 metais pradėtas įgyvendinti projektas „Rinkis
            Biržus“. Šiuo tinklalapiu siekiama, kad įvairi informacija būtų
            talpinama ir randama vienoje vietoje. Paaiškėjo, kad veiklų ir
            paslaugų Biržuose yra visa gausybė.
          </p>
          <p>
            Į kokius užsiėmimus leisti vaikus, kokios paslaugos skirtos šeimai,
            ko gali mokytis senjorai, kokias naujas „grožio“ paslaugas gali
            gauti vyrai, kas konsultuoja verslo pradžios klausimais, kokie
            nemokami mokymai bus verslininkams, o kokie – iš įkalinimo įstaigų
            grįžusiems ir kt. sužinokite susisiekę su projekto koordinatoriumi
            el. p.
            <a href="mailto:info@rinkisbirzus.lt">info@rinkisbirzus.lt</a> arba
            telefonu <a href="tel867112400:">867112400</a>.
          </p>

          <p>
            Daugiau informacijos apie įvairias paslaugas galima rasti skiltyje
            <nuxt-link to="/naudinga-informacija"
              >"Naudinga informacija"</nuxt-link
            >,
            <a href="/rinkis-birzus-siaures-rytai.pdf" target="blank"
              >šiame straipsnyje</a
            >
            bei
            <a href="https://www.facebook.com/rinkisbirzus/" target="blank"
              >mūsų paskyroje "Rinkis Biržus" socialiniame tinkle Facebook</a
            >
          </p>

          <p>
            Projektas finansuojamas Europos socialinio fondo, Lietuvos
            Respublikos biudžeto ir Biržų jaunimo klubo „Žalias!” lėšomis.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Apie',

  data() {
    return {}
  },
  head() {
    return {
      title: 'Rinkis Biržus | Apie',
      meta: [
        {
          property: 'og:image',
          content: 'images/og-apie.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped></style>
