<template>
  <div>
    <div class="container-fluid mx-0 px-0">
      <img class="img-fluid" src="/kirkilai.jpg" alt="" />
    </div>
    <div class="container">
      <div class="row py-5 ">
        <div
          class="col text-center px-5 d-flex flex-column justify-content-center"
        >
          <h3 class="m-0 mt-2">
            Biržai - “Šiaurės perlas” su nuostabia gamta, istorija bei maloniais
            žmonėmis.
          </h3>
        </div>
      </div>

      <div class="row text-center px-3 pb-5">
        <div class="col">
          <div>
            Jei šiuo metu gyveni ne Biržuose, bet apie tai galvoji, užpildyk šią
            registracijos formą - galbūt galėsime kažkuo padėti ir palengvinti
            sprendimą :)
          </div>

          <div class="pt-2">
            <nuxt-link to="/anketa"
              ><button class="btn btn-primary">
                pildyti anketą
              </button></nuxt-link
            >
          </div>
        </div>
      </div>

      <div class="row pb-5">
        <div class="col text-center">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/YvKqCTJOIvw"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="max-width: 100%;"
          ></iframe>
        </div>
      </div>

      <div class="row py-5">
        <div class="order-1 order-md-0 col-md-6">
          <img class="img-fluid" src="/birzu-fontanai.jpg" alt="" />
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>Ieškantiems ramybės</h2>
          <h4>
            Nedaugelio atrastas šiaurės Lietuvos kurortas kuriame laikas tiesiog
            eina lėčiau!
          </h4>
        </div>
      </div>

      <a href="https://www.birzuparkas.lt/" target="blank">
        <div class="row py-5 page-item-link">
          <div
            class="col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
          >
            <h2>Vertinantiems gamtą</h2>
            <h4>
              Pasivaikščiojimai pažintiniais takais ar ilgiausiu Lietuvoje
              pėsčiųjų tiltu nepaliks abejingų. Miestas įsikūręs tarp dviejų
              upių ir dviejų ežerų - puiki vieta mėgstantiems gamtą ir vandens
              pramogas.
            </h4>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="/astravo-tiltas.jpg" alt="" />
          </div>
        </div>
      </a>

      <a href="http://www.visitbirzai.lt/lt/laisvalaikis" target="blank">
        <div class="row py-5 page-item-link">
          <div class="order-1 order-md-0 col-md-6">
            <img class="img-fluid" src="/rampa.jpg" alt="" />
          </div>
          <div
            class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
          >
            <h2>Aktyvus laisvalaikis</h2>
            <h4>
              Riedlenčių ir BMX parkai, pasiplaukiojimai vandens dviračiais ar
              bėgimas vaizdingais piliakalnio takais. Taip pat - nemokami teniso
              kortai, naujos krepšinio ir futbolo, vaikų žaidimo aikštelės.
            </h4>
          </div>
        </div>
      </a>

      <a href="http://www.visitbirzai.lt/lt/lankytinos_vietos" target="blank">
        <div class="row py-5 page-item-link">
          <div
            class="col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
          >
            <h2>Norintiems puikių įspūdžių</h2>
            <h4>
              Galimybė įlipti į gražiausią Lietuvoje apžvalgos bokštą ar
              pasivaikščioti ilgiausiu pėsčiųjų tiltu ar taku palei nuostabų
              “Širvėnos" ežerą ir spalvotus fontanus, pabraidyti gydančiuose
              šaltiniuose Likėnų parke, nusileisti į smegduobę ar net pakilti
              panoraminiam skrydžiui lėktuvu!
            </h4>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="/kirkilai2.jpg" alt="" />
          </div>
        </div>
      </a>

      <div class="row py-5 page-item">
        <div class="order-1 order-md-0 col-md-6">
          <a href="http://www.birzuverslas.lt/" target="blank">
            <img class="img-fluid" src="/birzu-duona_1.jpg" alt="" />
          </a>
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>Darbas pažangiose įmonėse</h2>
          <h4>
            Viena didžiausių įmonių Biržų krašte -
            <a href="http://birzuduona.lt/" target="blank">Biržų duona</a>, 2020
            metais išrinkta tarp TOP10 tvariausių prekės ženklų Lietuvoje. Biržų
            krašte taip pat veikia kitos didelės, nacionaliu ir tarptautiniu
            mastu veikiančios įmonės -
            <a href="https://www.agaras.lt/" target="blank">"Agaras"</a>,
            <a href="https://www.siulas.lt/" target="blank">"Siūlas"</a>,
            <a href="https://tyla.lt" target="blank">TYLA</a>,
            <a href="https://rinkuskiai.lt" target="blank">TŪB "Rinkuškiai"</a>,
            Nitator-Slt, Nordic proteins ir kt.
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  head() {
    return {
      title: 'Rinkis Biržus',
      meta: [
        {
          property: 'og:image',
          content: 'images/og-apie.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
a {
  text-decoration: none;
}

.page-item {
  color: #212529;
  transition: all 0.2s ease-in-out;
}

.page-item-link {
  cursor: pointer;
  text-decoration: none;
  color: #212529;
  transition: all 0.2s ease-in-out;
}

.page-item-link:hover,
.page-item:hover {
  box-shadow: 0px 0px 10px 0px #ddd;
  transform: scale(1.01);
}
</style>
