<template>
  <div>
    <div class="container-fluid mx-0 px-0">
      <img class="img-fluid" src="/birzu-pilis.jpg" alt="" />
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col text-center">
          <div class="mb-2">
            <a class="link-no-color" href="tel:867112400"
              ><svg
                class="mb-1 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 32 32"
              >
                <title>phone</title>
                <g
                  stroke-linecap="square"
                  stroke-linejoin="miter"
                  stroke-width="2"
                  fill="#111111"
                  stroke="#111111"
                >
                  <path
                    d="M20.693,19.293l-2.282,2.853a24.077,24.077,0,0,1-8.557-8.557l2.853-2.282a1.939,1.939,0,0,0,.56-2.3l-2.6-5.855A1.939,1.939,0,0,0,8.407,2.062L3.457,3.346A1.95,1.95,0,0,0,2.018,5.5,28.761,28.761,0,0,0,26.5,29.982a1.95,1.95,0,0,0,2.153-1.439l1.284-4.95a1.939,1.939,0,0,0-1.089-2.258l-5.855-2.6A1.939,1.939,0,0,0,20.693,19.293Z"
                    fill="none"
                    stroke="#111111"
                    stroke-miterlimit="10"
                  ></path>
                </g>
              </svg>
              8 671 12400</a
            >
          </div>
          <div class="mb-2">
            <a class="link-no-color" href="mailto:info@rinkisbirzus.lt"
              ><svg
                class="mr-2 mb-1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 32 32"
              >
                <title>mail</title>
                <g
                  stroke-linecap="square"
                  stroke-linejoin="miter"
                  stroke-width="2"
                  fill="#111111"
                  stroke="#111111"
                >
                  <polyline
                    data-color="color-2"
                    points="2 5 16 16 30 5"
                    fill="none"
                    stroke-miterlimit="10"
                    stroke-linecap="butt"
                  ></polyline>
                  <rect
                    x="1"
                    y="4"
                    width="30"
                    height="24"
                    rx="3"
                    ry="3"
                    fill="none"
                    stroke="#111111"
                    stroke-miterlimit="10"
                  ></rect>
                </g></svg
              >info@rinkisbirzus.lt</a
            >
          </div>
          <div class="mb-2">
            <a
              class="link-no-color"
              href="https://m.me/rinkisbirzus"
              target="blank"
            >
              <svg
                class="mr-1 mb-1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <title>logo-messenger</title>
                <g>
                  <path
                    fill="#0086FF"
                    d="M24,0C10.879,0,0.242,9.947,0.242,22.216c0,6.98,3.443,13.208,8.826,17.281V48l8.108-4.497 c2.161,0.605,4.452,0.93,6.824,0.93c13.121,0,23.758-9.947,23.758-22.217S37.121,0,24,0z M26.502,29.792l-6.145-6.384L8.524,29.953 l12.974-13.768l6.145,6.384l11.834-6.544L26.502,29.792z"
                  ></path>
                  <path
                    fill="#FFFFFF"
                    d="M26.502,29.792l-6.145-6.384L8.524,29.953l12.974-13.768l6.145,6.384l11.834-6.544L26.502,29.792z"
                  ></path>
                </g></svg
              >Rinkis Biržus
            </a>
          </div>
          <div class="mb-5">
            <a
              class="link-no-color"
              href="https://www.facebook.com/rinkisbirzus/"
              target="blank"
              ><svg
                class="mb-1 mr-1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <title>logo-fb-simple</title>
                <g>
                  <path
                    id="White_1_"
                    fill="#39579A"
                    d="M18.06306,46L18,26h-8v-8h8v-5c0-7.42279,4.59664-11,11.21828-11 c3.17183,0,5.89786,0.23615,6.6923,0.3417v7.75726l-4.59246,0.00209c-3.60122,0-4.2985,1.71125-4.2985,4.22238V18H37.5l-4,8 h-6.48038v20H18.06306z"
                  ></path>
                </g></svg
              >Rinkis Biržus</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Kontaktai',

  data() {
    return {}
  },

  head() {
    return {
      title: 'Rinkis Biržus | Apie',
      meta: [
        {
          property: 'og:image',
          content: '/images/og-kontaktai.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped></style>
