<template>
  <div>
    <div class="container-fluid mx-0 px-0">
      <img class="img-fluid" src="/birzai2.jpg" alt="" />
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col text-center">
          <h2>"Rinkis Biržus" skrajutė</h2>
          <img class="img-fluid pb-3" src="/paslaugos.jpg" alt="" />
          <img class="img-fluid pb-3" src="/paslaugos2.jpg" alt="" />
          <h2 class="pt-5">Naudingos nuorodos</h2>
          <a
            href="https://www.renkuosilietuva.lt/lt/pirmieji-zingsniai/"
            target="blank"
            >Informacija atvykstantiems iš kitos šalies</a
          ><br />
          <a
            href="https://www.renkuosilietuva.lt/lt/regionai/birzu-rajono-savivaldybe-/15"
            target="blank"
            >Informacija apie Biržų rajoną</a
          >
          <br />
          <a
            href="http://www.visitbirzai.lt/lt/renginiu_kalendorius"
            target="blank"
            >Renginių Biržuose kalendorius</a
          >
          <br />
          <a
            href="https://www.ldb.lt/LDBPortal/Pages/ServicesForEmployees.aspx"
            target="blank"
            >Darbo pasiūlymai</a
          >
          <br />
          <a href="https://www.birzai.lt/index.php?3004006169" target="blank"
            >Darbo pasiūlymai Savivaldybės administracijoje</a
          ><br />
          <a href="https://exemigrantai.lt" target="blank"
            >Eks emigrantų internetinis puslapis</a
          ><br />
          <a
            href="https://www.facebook.com/groups/516926878444639/"
            target="blank"
            >Reemigrantų Facebook grupė</a
          ><br />
          <nuxt-link to="/anketa"
            >Anketa galvojantiems gyventi Biržuose</nuxt-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NaudingaInformacija',

  data() {
    return {}
  },

  head() {
    return {
      title: 'Rinkis Biržus | Naudinga informacija',
      meta: [
        {
          property: 'og:image',
          content: '/images/og-kontaktai.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped></style>
