<template>
  <div>
    <div class="container-fluid mx-0 px-0">
      <img class="img-fluid" src="/kirkilai3.jpg" alt="" />
    </div>
    <div class="container">
      <div class="row py-5 mt-5">
        <div class="order-1 order-md-0 col-md-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Q9sP9SY4IhM"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="max-width: 100%;"
          ></iframe>
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>Kiekvienas šiame mieste yra svarbus</h2>
          <h4>
            Vaizdo klipas apie paslaugas Biržų miesto bibliotekoje, Socialinių
            paslaugų centre ir Biržų bendruomeniniuose šeimos namuose.
          </h4>
        </div>
      </div>
      <div class="row py-5">
        <div class="order-1 order-md-0 col-md-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/GZRe0C74fpo"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="max-width: 100%;"
          ></iframe>
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>"Rinkis Biržus" - grįžk į Biržus</h2>
          <h4>
            "Rinkis Biržus" projektas kviečia visus biržiečius grįžti į savo
            gimtąjį kraštą!
          </h4>
          <p>
            Video autorius: Danielius Kerbelis<br />
            Antra kamera: Svajūnas Širmelis <br />
            Dronas: Viktorija Valentinavičiūtė<br />
            Atlikėjai: Deivydas Šnaras, Danas Berlinskas <br />
            Garsas: Deivydas Šafranauskas <br />
            Daina: Linas Adomaitis - "Žalioj tyloj" <br />
            Dėkojame Mockevičių šeimai už filmavimąsi klipe.
          </p>
        </div>
      </div>
      <div class="row py-5">
        <div class="order-1 order-md-0 col-md-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/9JmcPal4uF8"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="max-width: 100%;"
          ></iframe>
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>Įvairūs sporto renginiai</h2>
          <h4>
            Biržuose vyksta įvairios sporto šventės. Jaunimo asociacija SIP
            organizuoja puikius sporto renginius, kaip "Sporto šventę", BMX
            "NORTH Cup" turnyrą ir kitus. Biržų rajone taip pat vyksta "Bulių"
            lenktynės, motokroso varžybos, stalo ir lauko teniso turnyrai,
            bėgimai ("Biržų duonos" pusmaratonis, Kalėdinis bėgimas) bei daug
            kt.
          </h4>
        </div>
      </div>
      <div class="row py-5">
        <div class="order-1 order-md-0 col-md-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ZHFXvetri94"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="max-width: 100%;"
          ></iframe>
        </div>
        <div
          class="order-0 order-md-1 col-md-6 text-center p-3 px-5 d-flex flex-column justify-content-center"
        >
          <h2>Nuotaikingos šventės</h2>
          <h4>
            Biržuose vyksta įvairiausi spalvingi renginiai ir dažniausiai -
            nemokami! Rugpjūčio pradžioje vykstanti tradicinė Biržų miesto
            šventę, puikūs muzikiniai festivaliai "Baroko pavasaris" ir Šiaurės
            Lietuvos muzikos festivalis, teatrų festivalis "Žaldokynės kraštas",
            vasaros vandens šventė, kinas po atviru dangumi, "Naktis muziejuje"
            ir daug kitų.
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Apie',

  data() {
    return {}
  },
  head() {
    return {
      title: 'Rinkis Biržus | Video',
      meta: [
        {
          property: 'og:image',
          content: 'images/og-apie.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.top-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
  object-position: 100% 60%;
}
</style>
